In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib

Using matplotlib backend: <object object at 0x1134c7ad0>

In [2]:
url = 'https://zenodo.org/record/7674076/files/Sengupta_Lazarus_2023_F2_a.csv?download=1'
dt = pd.read_csv(url)

dt.head()

,Year,Tianjin,Singapore,Yingkou,Shanghai,Tangshan,Lianyungang,Shenzhen,Guangzhou,Qingdao,...,Khorfakkan,Said,Buenos Aires,Jinzhou,Kelang,Piraeus,Sines,Lome,Durban,Rank
0,1990,0.00000,0.000000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.0,0.0000,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.00000
1,1991,0.01753,0.000000,0.03451,0.00160,0.03797,0.00426,0.00000,0.00901,0.00000,...,0.00000,0.0,0.0388,0.01685,0.03092,0.00106,0.0,0.09341,0.09743,0.03333
2,1992,0.02173,0.000054,0.02617,0.02995,0.13183,0.00541,0.00665,0.01192,0.00000,...,0.04805,0.0,0.0388,0.01685,0.03092,0.01115,0.0,0.10218,0.16387,0.06667
3,1993,0.04030,0.011980,0.03266,0.04365,0.13183,0.00628,0.03048,0.01668,0.00327,...,0.00000,0.0,0.0388,0.01685,0.03092,0.03133,0.0,0.14298,0.18465,0.10000
4,1994,0.04167,0.013710,0.03266,0.05501,0.14225,0.00710,0.03351,0.01790,0.03376,...,0.00000,0.0,0.0388,0.04799,0.03092,0.05151,0.0,0.17358,0.24279,0.13333

In [89]:
sns.set(font_scale=0.8)
custom = {'font': 'Arial',
               'xtick.direction': 'in',
               'ytick.direction': 'in',
               'xtick.top': 'True',
               'ytick.right': 'True'}

sns.set_style('ticks', rc = custom)
sns.set_style({'font.family': 'Arial'})
dt.set_index('Year').plot.line(legend=False, colormap='bone', figsize = (6, 6), alpha=1)
ax2 = sns.lineplot(x="Year", y="Rank", data=dt, legend=False,alpha=1)
sns.set(rc={"figure.dpi":100, 'savefig.dpi':300})